legend {
    margin-bottom: 10px;
    color: white !important;
}
button {
/*	box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.1); */
}
button:hover {
/*	box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.2); */
}
.allValues .property {
    margin-bottom: 20px;
}
select#filter-property {
    width: 100%;
}
div#item-linked {
    width: 90%;
}
.browse #content table {
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
	word-break: break-word;
  }
.page #wrap {
    max-width: 100%;
    padding: 0;
    margin-bottom: 80px;
}
.linked-resource a {
    font-family: 'Crimson';
    font-size: 16px;
}
.toc {
    list-style: none;
}
.testTest {
    display: flex;
    justify-content: center;
}
.findLegend::before {
    content: "│\00a0 \00a0  ├─ ";
    font-family: monospace; font-size: 1em;
}
.bubble.find {
	background-color: #333 !important;
	color: white;
	border-radius: 20px;
	padding: 5px;
}
.value.paragraphTitle {
    font-family: 'Lato' !important;
}
.noMedia {
	display: flex;
	justify-content: center;
	height: inherit;
	align-items: center;
}
/*#toolbar {
	display: flex;
    flex-wrap: wrap;
    width: 40px;
} */
.campaignMap {
	width: 50%;
	height: 45vh;
	display: flex;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
}
.campaignTrenchContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
.campaignTrenchCard {
  height: 150px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  width: 30%;
  box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.1);
}
.campaignTrenchTitle {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campaignAdminContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	text-align: center;
}
.campaignDetailedList {
	column-count: 2;
	margin: auto;
	text-align: left;
	column-width: 15vh;
}
.campaignAdmin h3 {
	text-align: center;
  border-bottom: solid 1px #333;
  padding-bottom: 10px;
}
.campaignAdminTitle h2 {
    padding: 0;
    margin: 0;
}
.campaignAdmin h2 {
    margin: 0;
}
.camapignInfo {
    width: 95%;
}
.campaignAdmin {
  width: 90%;
  padding: 5px;
  margin: 0;
  display: flex;
  align-items: center;
}
.campaignMedias {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: 45vh;
	margin-right: 10px;
	margin-left: 10px;
}
.campaignMedias img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.campaignMedias .mySlides {
	height: 45vh;
}
.mySlides.fade img {
    max-height: 600px;
}
.testHalf h1 {
    width: 95%;
}
.siteContainer {
    display: flex;
    margin-top: 40px;
	justify-content: center;
	flex-wrap: wrap;
}
.aboutHome h3 {
    text-align: center;
}
.aboutHome {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.campaignHome, .reportHome {
    width: 300px;
    height: 80px;
    box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find.findDisplay {
    display: grid;
}
.contentType {
    position: sticky;
    top: 0;
    background-color: white;
}
.page header {
	padding-bottom: 10px;
}
.aboutHome p {
    line-height: 28px;
}
.imgHome img {
    border-style: none;
    height: 300px;
    object-fit: cover;
    object-position: top;
	box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.4);
}
.campaignHome a {
    padding: 30px;
}
div#setNorth {
    position: absolute;
    font-size: 18px;
    top: 70px;
    right: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
	opacity:0.7;
}
div#setNorth:hover {
	opacity: 1;
}
div#setTop {
    position: absolute;
    font-size: 18px;
    top: 20px;
    right: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
	opacity:0.7;
}
div#setTop:hover {
	opacity: 1;
}
div#resetTrackball {
    position: absolute;
    font-size: 18px;
    top: 170px;
    right: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
	opacity:0.7;
}
div#resetTrackball:hover {
	opacity: 1;
}
div#animationButtons {
    position: absolute;
    font-size: 18px;
    top: 220px;
    right: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    width: 40px;
	opacity:0.7;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animationButton {
	display: none;
    height: 30px;
    background-color: darkred;
    width: 30px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
	opacity: 0.5;
}
.animationButton:hover {
	opacity: 1;
}
.animationTextButton {
    display: inline;
    height: 30px;
    background-color: darkred;
    min-width: 30px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
#openAnimations {
    padding: 10px;
}
#animationButtons:hover {
    opacity: 1;
}
div#getView {
    position: absolute;
    font-size: 18px;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
	opacity:0.7;
}
div#getView:hover {
	opacity: 1;
}
.findsList {
    display: flex;
    flex-wrap: wrap;
}
.w3-bar-item.w3-button.tablink {
    border-radius: 0;
}
.headerTitle {
    display: flex;
    justify-content: flex-end;
}
.toggleLegend {
    position: absolute;
    right: 1rem;
}
.layerList {
	display: none;
}
.layerHopList {
    display: none;
    position: absolute;
    right: 75px;
    overflow-y: auto;
    height: 65%;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    width: auto;
    scrollbar-width: thin;
    scrollbar-color: black #666;
	margin-top: 20px;
	width: 30%;
    border-radius: 5px;
}
.layerHopList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: darkgray;
}
.layerHopList::-webkit-scrollbar
{
	width: 5px;
	background-color: #666;
}
.layerHopList::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
}
.toc {
	display: none;
}
.tocMenu {
	display: flex;
	height: 40px;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 95%;
}
.tocContainer {
    width: 95%;
}
.administrative {
	display: none;
}
.administrativeMenu {
	display: flex;
	height: 40px;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 95%;
}
.administrativeContainer {
    width: 95%;
}
.titleMenu {
    display: flex;
    width: 95%;
    align-items: center;
}
div#toggleLegend {
    position: absolute;
    font-size: 18px;
    top: 120px;
    right: 20px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
div#toggleLegend:hover {
	opacity: 1;
}

.infoContext {
    position: absolute;
    width: 30%;
    font-size: 12px;
    bottom: 20px;
    right: 75px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    height: 25%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black #666;
    display: none;
    border-radius: 5px;
}
.infoContext p {
    display: inline;
}
.infoContext::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}
.infoContext::-webkit-scrollbar
{
	width: 10px;
	background-color: #666;
}
.infoContext::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
}
.value.paragraphTitle {
    display: flex;
	align-items: center;
	width: 95%;
}
.menuButtons {
    display: flex;
}
.menuButton {
    margin-left: 3px;
    margin-right: 3px;
    height: 39px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}
.menuTitle {
    width: 90%;
	cursor: pointer;
}
.viewModel {
    margin-left: 5px;
    background-color: white;
    color: black;
}
.viewModel:hover {
    color: #999;
}
.toggleParagraph {
	background-color: white;
	color: black;
}
.toggleParagraph:hover {
	color: #999;
}
.bubble {
    display: inline;
    line-height: 2;
    font-size: 12px;
	border-radius: 5px !important;
	color: white;
}
.bubble.checkAll {
    background-color: darkred;
    padding: 5px;
    color: white;
}
.object .bubble {
    background-color: black;
	color: white;
    border-radius: 20px;
    padding: 5px;
}
.layer .bubble {
    background-color: #666;
	color: white;
    border-radius: 20px;
    padding: 5px;
}
div.context::before {
    content: "├─ ";
    font-family: monospace; font-size: 1em;
}
.context .bubble {
    background-color: #666;
	color: white;
    border-radius: 20px;
    padding: 5px;
}
.trench .bubble {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
    padding: 5px;
}
.area .bubble {
    background-color: darkred;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.report .bubble {
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.find .bubble {
    background-color: #333;
    color: white;
    border-radius: 20px;
    padding: 5px;
	margin-right: 5px;
}
.find {
	padding-bottom: 5px !important;
}
.finds {
    display: flex;
    flex-wrap: wrap;
}
.main-navigation {
    padding-bottom: 20px;
}
.description {
	font-family: "Crimson";
}
.contextMedias {
    display: flex;
    flex-wrap: wrap;
}
.contextMedia {
    margin: 5px;
}
.contextMedia a img {
    width: 80px;
    box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.1);
}
.summary {
    font-size: 15px;
    padding-left: 20px;
    line-height: 1.6;
    list-style-type: circle;
}
.parHide {
	display: none;
}

.parHide .animationTextButton {
	background-color: rgba(0,0,0,0.4);
}

.testHalf #mapping-map {
    height: 300px;
}
.property .values .value {
    font-family: 'Crimson';
    font-size: 18px;
}
.value.description {
    margin-top: 20px;
    margin-bottom: 20px;
}
div#toggleLinked {
    display: inline-flex;
	color: black;
    position: relative;
    left: 50%;
}
div#toggleLinked:hover {
    color: darkred;
}
.testMedias {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: none;
	clear: both;
}
.thumbImg {
	margin: 5px;
	height: 200px;
	width: 200px;
	object-fit: cover;
	padding: 0;
	vertical-align: middle;
}
#testMap {
	height: 100%;
}
#testMap #map {
    height: 78vh;
}
#testMap {
	height: 100%;
}
#mediaTab {
    margin-top: 10px;
    height: 78vh;
	overflow-y: auto;
}
#mediaTabShow {
    padding: 10px;
}
.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 78vh;
}
.videoContainer .media-render {
    margin: 10px;
}
#\33 dhopParent {
    height: 78vh;
}
div#gisData {
	height: 100%;
    margin-top: 10px;
}
.testHalf #testMap {
    height: 300px;
	width: 95%;
	margin-bottom: 20px;
}
.gisTooltip {
    word-wrap: break-word;
    white-space: pre-line;
    overflow-x: auto;
    color: black;
    font-size: 14px;
	width: 250px;
	height: 200px;
	scrollbar-width: thin;
	scrollbar-color: black #EEE;
}
.gisTooltip::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}
.gisTooltip::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
.gisTooltip::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
}
.leaflet-bar a, .leaflet-control-layers-toggle {
    background-position: 0 0;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png);
    background-size: 26px 26px;
    left: 5px;
    top: 5px;
    position: relative;
}
#menuTitle\ topTitle {
    width: 90%;
}
#infoParagraph {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 75px;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    width: 30%;
    text-align: center;
}
#infoPositionContainer {
	display: none;
    position: absolute;
    bottom: 70px;
    color: white;
    left: 75px;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    width: 30%;
    text-align: left;
}
#closePosition {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
}
#closePosition:hover {
	color: darkred;
	cursor: pointer;
}
#copyPosition {
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 18px;
}
#copyPosition:hover {
	color: darkred;
	cursor: pointer;
}
#page-actions {
    position: absolute;
    top: 40px;
    right: 0;
}
#page-actions input {
    padding: 15px;
    font-weight: bold;
    color: darkred;
}
#\33 dhop {
    margin-top: 10px;
}
input#checkAll {
    margin-bottom: 20px;
}
@media screen and (max-width: 399px) {
#\33 dhop {
    width: 100% !important;
    height: 400px !important;
}
#wrap {
    max-width: 100%;
}
.layerHopList {
	width: 80%;
}
}
@media screen and (min-width: 400px) and (max-width: 699px) {
#\33 dhop {
    width: 90% !important;
    height: 400px !important;
}
#toolbar {
    display: none;
}
#wrap {
    max-width: 100%;
}
.layerHopList {
	width: 80%;
}
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.1);
  max-height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mediaContainer .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.campaignMediaContainer {
	display: flex;
	margin-top: 10px;
}
@media screen and (max-width: 699px) {
  .infoContext {
	  right: 20px;
	  width: 40%
  }
  .campaignMediaContainer {
    display: block;
  }
  .campaignMap {
    width: 95%;
  }
  .campaignTrenchContainer {
    width: 100%;
  }
  .campaignTrenchCard {
	  width: 100%;
  }
  .campaignTrenchDescription h1 {
    font-size: 36px;
  }
  .campaignTrenchDescription {
    height: 0 !important;
  }
}
.campaignTrenchDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.campaignElements {
    display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}
.separator {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.campaignValues {
    width: 90%;
	padding-left: 20px;
	padding-right: 20px;
}
.campaignAdminTitle {
    width: 10%;
}
.campaignSeparator {
	margin: 0;
}
#mediaTabShow .mediaContainer {
    height: 70vh;
    display: flex;
}
.mediaPoints {
    text-align: center;
    bottom: 60px;
    position: fixed;
    left: 60%;
}
@media screen and (max-width: 999px) {
.noMobile {
    display: none;
}
}
.list-of-sites {
    margin-left: 40px;
}
.compass {
    position: absolute;
    top: 20px;
    right: 100px;
    z-index: 1000;
}
.halved {
	width: 50% !important;
}
.recordSheet {
	column-count: 2;
}
.recordSheet .property {
	margin-bottom: 5px;
}
.titleSheet {
	display:flex !important;
	position: sticky;
	top: 0;
}
.titleSheet h2 {
	margin-bottom: 0;
	margin-right: 20px;
}
.nextParagraph {
	width: 50%;
	margin-left: auto;
}
.showNextParagraph {
    background-color: darkred;
    color: white;
    box-shadow: 5px 5px 10px 0 rgb(100 100 50 / 20%);
    font-size: 0.8em;
}
.logos td {
	vertical-align: middle;
}
.logos td a img {
    height: 60px;
}
img#INHA {
	height: 40px;
}
img#DARKLab {
	height: 50px;
}
img#LU {
	height: 50px;
}
img#LogoVCG {
	height: 50px;
}
@media screen and (min-width: 700px) {
  .onlyMobile {
	  display: none
  }
}
.block.item-set-showcase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	margin-bottom: 20px;
}
.itemSetCustom {
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 5px 5px 10px 0 rgba(100, 100, 50, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}
.item-set a {
    margin: 20px;
}
.itemSetContainer {
    width: 90%;
    margin: auto;
}
.itemSetCustom img {
    height: 100px;
}
span.title {
	color: darkred;
}
#property-queries, #resource-templates, #resource-class {
	margin-top: 40px;
}
nav.footerLinks ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    border-top: 1px solid #dedede;
    padding: 0;
    font-weight: bold;
    width: 95%;
    border: 0;
    margin: 0;
}
nav.footerLinks ul li {
    margin-left: 40px;
}